.DatesDifference {
  .dates-container {
    padding: 10px;
    display: flex;

    input, select {
      flex-grow: 1;
      margin: var(--margin-small);
    }
  }

  .results {
    padding: 10px;
  }
}

