@use "../../styles/variables";

.DatesDifference {
  .dates-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;

    gap: var(--margin-default);
    justify-self: center;
    justify-items: stretch;
    justify-content: stretch;
    margin-bottom: var(--margin-default);

    input {
      font-size: var(--font-size-small);
      width:auto;
    }


    @media (min-width: variables.$breakpoint-xs-min) {
      grid-template-columns: auto auto;
      grid-template-rows: auto;

      input {
        font-size: var(--font-size-default);
      }
    }
  }

  .results {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-self: center;
    justify-items: stretch;
    justify-content: stretch;
    gap: var(--margin-default);
  }

  .results__item {
    text-align: center;
    border: 1px solid var(--primary-default-text);
    padding: var(--margin-default);
    border-radius: var(--border-radius-default);
  }

  .item__name {
    font-size: var(--font-size-small);
    @media (min-width: variables.$breakpoint-xs-min) {
      font-size: var(--font-size-default);
    }
  }

  .item__value {

  }
}

