@import "themes/default";

html, body {
  margin: 0;
  padding: 0;
  min-width: 500px;
  font-family: var(--font-family);
}

textarea, input, select {
  font-family: var(--font-family-mono);
  color:var(--primary-default-text);
  border-color:var(--primary-default-text);
  border-style: solid;
  border-width: 1px;
  background-color:var(--primary-default-bg);
}

textarea, input, select {
  border-radius: var(--border-radius-default);
  padding: var(--margin-default);
}

button {
  border-radius: var(--border-radius-default);
  border: 1px solid var(--primary-default-text);
  margin-bottom: var(--margin-small);
  margin-right: var(--margin-small);
  padding: 5px 10px;

  font-family: var(--font-family);

  color: var(--primary-default-text);
  background-color: var(--primary-default-bg);
  display: inline-block;
  outline: none;
  cursor: pointer;

  &.btn-primary {
    color: var(--primary-text);
    background-color: var(--primary);
  }
}
a {
  &, &:hover, &:visited, &:active, &:focus {
    color: var(--primary-default-text);
  }
}
