@import "../../../styles/themes/default";

.Tabs {
  .Tab {
    position: relative;
  }

  .tabs__content {
    border-top: 1px solid var(--primary-default-text);
    position: relative;
    min-height: 200px;
    padding: 10px;
    //border: 1px solid var(--primary-default-text);
    background-color: var(--primary-default-bg);
  }

  .tabs__content-inner {
    padding: 10px;
  }

  ul.tabs__list {
    display: flex;

    li {
      list-style-type: none;
      flex-grow: 1;
      font-weight: bold;
      text-align: center;
      &.active {
        button {
          color: var(--primary-text);
          background-color: var(--primary);
        }
      }
    }

    button {
      border-radius: 3px;
      border:0;
      margin:5px;
      padding:5px 10px;

      color: var(--primary-default-text);
      background-color: var(--primary-default-bg);
      display: inline-block;
      outline: none;
      cursor: pointer;
    }
  }
}

