@use "../../../styles/variables";
@use "../../../styles/themes/default";

.Tabs {
  .Tab {
    position: relative;
  }

  ul.tabs__list {
    display: flex;

    li {
      list-style-type: none;
      flex-grow: 1;
      text-align: center;
      margin: 0;
      display: flex;
      align-content: center;
      justify-content: center;

      &.active {
        button {
          color: var(--primary-text);
          background-color: var(--primary);
        }
      }
    }

    button {
      border: 0;
      margin: 5px;
      padding: 5px 10px;
      display: inline-block;
      outline: none;
      cursor: pointer;
      border-radius: var(--border-radius-default);
      color: var(--primary-default-text);
      background-color: var(--primary-default-bg);
      font-family: var(--font-family-title);
      font-size: var(--font-size-extra-small);
      @media (min-width: variables.$breakpoint-xs-min) {
        font-size: var(--font-size-small);
      }
    }
  }


  .tabs__content {
    border-top: 1px solid var(--primary-default-text);
    position: relative;
    min-height: 200px;
    //padding: 10px;
    background-color: var(--primary-default-bg);
  }

  .tabs__content-inner {
    padding: 10px;
  }
}

