.CaseConverter {
  display: flex;
  flex-direction: column;
  position: relative;

  .buttons-container {
    margin-bottom: 10px;
  }

  textarea {
    flex-grow: 1;
    border:1px solid black;
    margin-bottom: 10px;
    border-radius: 3px;
    width:100%;
    max-width: 100%;
    min-width: 100%;
    display: block;
    min-height: 50px;
    resize: none;
  }
  .btn-reset {
      margin-right: 10px;
  }
  .hint {
    font-size: 12px;
    display: inline-block;
    font-style: italic;
  }
}

