@import "styles/themes/default";

.App {
  .by {
    background-color: var(--primary-default-bg);
    color: var(--primary-default-text);
    display: block;
    padding: 5px;
    text-align: right;
    font-size: 10px;

    a {
      &, &:hover, &:visited, &:active, &:focus {
        color: var(--primary-default-text);
      }
    }
  }

  .btn-toggle-theme {
    margin-right: 15px;
    font-size: 10px;
  }
}
