@import "../../styles/themes/default";
.Notepad {
  .notepad-content {
    height: 500px;
    overflow: auto;
    margin: 0;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--secondary-text);
    background-color: var(--secondary);
    color:var(--secondary-text);
    font-family: var(--font-family-mono);
  }

  .buttons-container {
    margin-bottom: 10px;
  }

  .btn-reset {
    margin-right: 10px;
  }

  .hint {
    font-size: 12px;
    display: inline-block;
    font-style: italic;
  }
}




